.table {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  width: 200px;
  background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
  box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.5);
  border-radius: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-name {
  padding: 0 5px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
